<div class="col-12">
    <div class="card chat" id="chat1" style="border-radius: 15px;">
        <div class="card-header d-flex justify-content-center align-items-center p-3 bg-info text-white border-bottom-0"
            style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <p class="mb-0 fw-bold"><%=nameDoctor%></p>
        </div>
        <div class="card-body">
            <% for(const i in data) {%>
                <%- data[i]%>
            <%}%>
        </div>
        <form action="/chatsend" method="get">
            <div class="form-outline send-message p-4">
                <input type="hidden" name="id" value="<%=userID%>">
                <input type="text" class="form-control bg-body-tertiary" placeholder="Сообщение" name="text"></input>
                <button type="submit" class="btn btn-primary btn-send-msg">
                    <i class="fa-regular fa-envelope"></i>
                </button>
            </div>
        </form>
    </div>
</div>