<div class="col-12">
    <div class="myDevices mb-4">
        <h2 class="devices__title">Мои устройства</h2>
        <div class="list-group">
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Фитнес-браслет Mi Smart band 4
                    <div class="form-text" style="font-size: 12px;">Подключение...</div>
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </a>
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Тонометр
                    автоматический для измерения
                    давления от СберЗдоровье
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </a>
            <a href="#" class="device-add list-group-item list-group-item-action">
                <div class="devices-img">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="devices-text">
                    Добавить устройство
                </div>
            </a>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="recomendationDevices">
        <h2 class="devices__title">Зарекомендованные устройства</h2>
        <div class="list-group">
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Фитнес-браслет Mi Smart band 4
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </a>
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Тонометр
                    автоматический для измерения
                    давления от СберЗдоровье
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </a>
        </div>
    </div>
</div>