<div class="col-4">
    <h5>Пациенты</h5>
    <div class="pacient-list">
        <div class="list-group">
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Петр
                </div>
                <div class="devices-text">
                    Диагноз: Такой-то
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
            </a>
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Олег
                </div>
                <div class="devices-text">
                    Диагноз: Такой-то
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
            </a>
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Вася
                </div>
                <div class="devices-text">
                    Диагноз: Такой-то
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
            </a>
        </div>
    </div>
    <h5 class="mt-2">Статистика</h5>
    <div class="pacient-stats">
        <div class="card chart-container">
            <canvas id="chart"></canvas>
          </div>
    </div>
</div>
<div class="col-8 first">
    <div class="pacient-profile">
        <h5>Карточка пациента</h5>
        <div class="profilePage text-center card">
            <img src="img/face.jfif" class="border-10 img-fluid mb-2" alt="" srcset="" width="96" height="96">
            <span>Врач: Такой-то</span>
            <span>Номер: Какой-то</span>
            <span>Диагноз: Что-то</span>
        </div>
    </div>
    <div class="pacient-settings">
        <h5>Действия</h5>
        <button class="btn btn-primary">Записать на прием</button>
        <button class="btn btn-primary">Записать к другому врачу</button>
    </div>
    <div class="pacient-report">
        <h5>Журнал пациента</h5>
        <div class="list-group">
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Отметить показатели
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-check"></i>
                </div>
            </a>
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Супрастин 1x 5мг
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="pacient-recomentadion">
        <h5>Рекомендации</h5>
        <div class="list-group">
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Супрастин 2x 10мг
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-delete-left"></i>
                </div>
            </a>
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Отметить показатели
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-delete-left"></i>
                </div>
            </a>
            <a href="#" class="device-add list-group-item list-group-item-action">
                <div class="devices-img">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="devices-text">
                    Добавить Рекомендации
                </div>
            </a>
        </div>
    </div>

</div>