<div class="col-4">
    <h5>Отправить показатели</h5>
    <div class="indicator-send card p-4">
        <label for="">Дата: 17.11.2024 16:12</label>
        <div class="no-flex mt-3">
            <label for="">Температура:</label>
            <input type="text" class="form-control">
        </div>
        <div class="no-flex mt-3">
            <label for="">Давление:</label>
            <input type="text" class="form-control">
        </div>
        <div class="no-flex mt-3">
            <label for="">Пульс:</label>
            <input type="text" class="form-control">
        </div>
        <div class="no-flex mt-3">
            <label for="">Уровень глюкозы:</label>
            <input type="text" class="form-control">
        </div>
        <button class="btn btn-primary mt-3">Отправить</button>
    </div>
</div>
<div class="col-8">
    <h5>Описание самочуствия</h5>
    <div class="indicator-send">
        <textarea class="form-control" rows="14"></textarea>
    </div>
</div>