<div class="col-12">
    <div class="mainPageSection1">
        <div class="mainPageSection2">
            <div class="text">
                <h1 class="title">Здоровье в твоих руках</h1>
                <h2 class="subTitle">Ваше здоровье под вашим контролем. Используйте наш
                    интерактивный
                    портал для
                    мониторинга показателей,
                    общения с врачами и получения персональных рекомендаций.</h2>
            </div>
            <button type="button" class="btn btn-primary btn-size" data-bs-toggle="modal"
                data-bs-target="#exampleModalMessage">ПОПРОБОВАТЬ</button>
        </div>
    </div>
</div>