<div class="col-12">
    <div class="mb-4">
        <h2 class=""><%=dataPage%></h2>
        <div class="list-group">
            <% for(const i in data) { %>
                <a href="/chat?id=<%=data[i].userID%>" class="chat-block list-group-item list-group-item-action">
                    <div class="chat-text">
                        <%= data[i].userName %>
                    </div>
                    <div class="chat-img">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </a>

                <%}%>
        </div>
    </div>
</div>