<div class="col-4">
    <div class="profilePage text-center card">
        <img src="img/face.jfif" class="border-10 img-fluid mb-2" alt="" srcset="" width="96" height="96">
        <span>Врач: Такой-то</span>
        <span>Номер: Какой-то</span>
        <span>Диагноз: Что-то</span>
    </div>
</div>
<div class="col-8">
    <h5>Отчет</h5>
    <div class="profileReport">
        <div class="list-group">
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Отметить показатели
                </div>
                <div class="devices-img">
                    <input type="checkbox" class="form-check">
                </div>
            </a>
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Супрастин 2x 10мг
                </div>
                <div class="devices-img">
                    <input type="checkbox" class="form-check">
                </div>
            </a>
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Записаться к хирургу
                </div>
                <div class="devices-img">
                    <input type="checkbox" class="form-check">
                </div>
            </a>
            <a href="#" class="device-add list-group-item list-group-item-action">
                <div class="devices-img">
                    <i class="fa-solid fa-paper-plane"></i>
                </div>
                <div class="devices-text">
                    Отправить
                </div>
            </a>
        </div>
    </div>
    <h5 class="mt-2">Журнал</h5>
    <div class="profileLog">
        <div class="list-group">
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Супрастин 2x 10мг
                </div>
                <div class="devices-text">
                    17.11.2024 20:01
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-check-double"></i>
                </div>
            </a>
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Отметить показатели
                </div>
                <div class="devices-text">
                    13.11.2024 09:11
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-check-double"></i>
                </div>
            </a>
            <a href="#" class="device-block list-group-item list-group-item-action">
                <div class="devices-text">
                    Супрастин 1x 5мг
                </div>
                <div class="devices-text">
                    12.11.2024 11:00
                </div>
                <div class="devices-img">
                    <i class="fa-solid fa-check-double"></i>
                </div>
            </a>
        </div>
    </div>
</div>