<div class="col-12">
    <h5>Рекомендации</h5>
    <div class="list-group">
        <a href="#" class="device-block list-group-item list-group-item-action">
            <div class="devices-text">
                Отправить медицинские документы врачу
            </div>
        </a>
        <a href="#" class="device-block list-group-item list-group-item-action">
            <div class="devices-text">
                Соблюдать диету
            </div>
        </a>
    </div>
</div>